product {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
.product {
    border: 1px solid #f2a07b;
    padding: 20px;
    width: 400px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.product_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.product img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.product-details {
    flex-grow: 1;
    margin-left: 10px;
}
.product-details p {
    margin: 0;
    font-size: 14px;
}
.product-price {
    font-size: 14px;
    font-weight: bold;
}
.summary {
    margin-bottom: 20px;
}
.summary p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
}
.summary .total {
    font-size: 18px;
    font-weight: bold;
    color: #f2a07b;
}
.payment-method {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.payment-method p {
    margin: 10px 0;
    font-size: 14px;
}
.payment-method .method-title {
    font-weight: bold;
}
.payment-method ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
.payment-method li {
    margin-bottom: 10px;
  }
.payment-method button {
color: #fff;
background: var(--button--color,#000);
font-size: var(--font-size-button, 13px);
padding: 20px;
cursor: pointer;
width: 100%;
max-height: 200px;
text-transform: uppercase;
border: 0;
}
.PaymentButton :hover{
   color:#fffbf9;
   background: var(--button--color,#f2a07b );
   transition: 0.1s;
}